<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Elections</title>
  <!--<link rel="stylesheet" href="/css/jass.css">-->
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="hero header-image">
      <h1 class="app-name">
        <span style='font-size:100px;'>☝</span>
        <a href="/">Vote for Me!</a>
        
      </h1>
      <nav class="flex-row">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <h2 class="nav-option">
          <a href="/newCandidate">Run for This Position</a>
        </h2>
        <h2 class="nav-option">
          <button class="no-button" id="logout">Logout</button>
        </h2>
        {{else}}
        <h2 class="nav-option">
          <a href="/login">Login to Vote or Run</a>
        </h2>
        {{/if}}
      </nav>
    </header>
    <main class="flex-row justify-space-between">
      <div class="col-12">
        <!-- Render the sub layout -->
        {{{ body }}}
      </div>
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
