{{#each candidates as |candidate| }}
  <div class="row align-center mb-5">
    <div class="vote-result flex-row col-md-6 justify-space-between">
      <h2><a href="/candidate/{{candidate.id}}">{{candidate.name}}</a></h2>
      <h3 class="votes">{{candidate.votes}}</h3>
       <button  type="submit" value="Submit">Vote</button>
    </div>
  </div>
{{/each}}