<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Run for this position</h3>

    <form class="form new-candidate-form">
      <div class="form-group">
        <label for="candidate-name">Candidate Name:</label>
        <input class="form-input" type="text" id="candidate-name" name="candidate-name" />
      </div>
      <div class="form-group">
        <label for="candidate-vision">Vision:</label>
        <textarea class="form-input" id="candidate-vision" name="candidate-vision"></textarea>
      </div>
      <div class="form-group">
        <label for="candidate-education">Education:</label>
        <textarea class="form-input" id="candidate-education" name="candidate-education"></textarea>
      </div>
      <div class="form-group">
        <label for="candidate-work-experience">Work Experience:</label>
        <textarea class="form-input" id="candidate-work-experience" name="candidate-work-experience"></textarea>
      </div>
      <div class="form-group">
        <label for="candidate-email">E-Mail:</label>
        <input class="form-input" id="candidate-email" name="candidate-email"></input>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">RUN!</button>
      </div>
    </form>
  </div>


<script src="/js/new_candidate_form.js"></script>